{{> partials/header.html}}

<h1>Create a user.</h1>
<form class="navbar-form navbar-left" method="post">
  <div class="input-group">
    <span class="input-group-addon">First Name</span>
    <input type="text" class="form-control" placeholder="Label" name="user[firstname]" />
  </div>
  <br />
  <div class="input-group">
    <span class="input-group-addon">Last Name</span>
    <input type="text" class="form-control" placeholder="Label" name="user[lastname]" />
  </div>
  <br />
   <div class="input-group">
    <span class="input-group-addon">Email Address</span>
    <input type="text" class="form-control" placeholder="Label" name="user[email]" />
  </div>
  <br />
  <div class="input-group">
    <span class="input-group-addon">Username</span>
    <input type="text" class="form-control" placeholder="Label" name="user[username]" />
  </div>
  <br />
  <div class="input-group">
    <span class="input-group-addon">Passowrd</span>
    <input type="password" class="form-control" placeholder="Label" name="user[password]" />
  </div>
  <br />
  <div class="input-group">
    <input type="checkbox" name="user[bManager]"> Are you a manager?
  </div>
  <br />
  <button type="submit" class="btn btn-default">Submit</button>
</form>

{{> partials/footer.html}}
